@buttonBackgroundColor: lightgreen;

.button {
    outline: none;
    border-radius: 10px;
    border: 2px solid darkblue;
    background-color: @buttonBackgroundColor;
    &:active {
        background-color: @buttonBackgroundColor / 25;
        color: white;
    }
}

.calcBorder {
    padding: 10px;
    border-radius: 25px;
    border-collapse: separate;
    border: 3px solid black;
    background-color: lightgray;
}

.calculatorName {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-family:'Spirax', cursive;
    font-weight:normal;
}



p {
    padding: 0px;
    margin: 0 0 0px;
}